<form action="https://formspree.io/f/mjybppdy" method="post">
                <input type="hidden" name="_subject" value="New Total Pest Control free estimate request">
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="" autocomplete="name">
                  </div>
                  <div class="col-md-6">
                    <input type="email" name="email" class="form-control" placeholder="Your Email" required="" autocomplete="email">
                  </div>
                  <div class="col-md-6">
                    <input type="tel" name="phone" class="form-control" placeholder="Phone Number" autocomplete="tel">
                  </div>
                  <div class="col-md-6">
                    <select name="service" class="form-control" required="">
                      <option value="" disabled="" selected="">Select a Pest Problem</option>
                      <option value="insects">Ants, Roaches &amp; Other Insects</option>
                      <option value="bed-bugs">Bed Bugs</option>
                      <option value="termites">Termites</option>
                      <option value="rodents">Mice &amp; Rats</option>
                      <option value="wildlife">Wildlife (Raccoons, Squirrels, Bats)</option>
                      <option value="bees-wasps">Bees &amp; Wasps</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <textarea name="message" class="form-control" rows="5" placeholder="Describe your pest problem, including what you've seen, where, and for how long... (optional)"></textarea>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn-submit">Get My Free Estimate</button>
                  </div>
                </div>
              </form>
