<!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{{ include.title }}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            {% if include.parent_title and include.parent_url %}
            <li><a href="{{ include.parent_url | relative_url }}">{{ include.parent_title }}</a></li>
            {% endif %}
            <li class="current">{{ include.current }}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
